<app-settings-bar></app-settings-bar>
<div class="requirements-container">
  <h2>All requirements</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col">author</th>
        <th scope="col">creation date</th>
        <th scope="col">final cost</th>
      </tr>
    </thead>
    <tbody *ngIf="requirements">
      <tr *ngFor="let requirement of requirements">
        <td>{{requirement.idRequirement}}</td>
        <td>{{requirement.name}}</td>
        <td>{{requirement.description}}</td>
        <td>{{requirement.author}}</td>
        <td>{{requirement.creationDate}}</td>
        <td>{{requirement.finalCost}}</td>
      </tr>
    <tbody>
  </table>
  <button type="button" class="btn btn-primary btn-add-requirement" (click)="openAddRequirement(contentAdd)">Add requirement</button>
  <button type="button" class="btn btn-primary" (click)="getAllRequirements()">Refresh</button>
</div>
<ng-template #contentAdd let-modal>
  <app-add-requirement [modal]="modal"></app-add-requirement>
</ng-template>

<h2>All projects</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">description</th>
      <th scope="col">author</th>
      <th scope="col">start date</th>
      <th scope="col">status</th>
      <th scope="col">end date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngIf="projects">
    <tr *ngFor="let project of projects">
      <td>{{project.idProject}}</td>
      <td>{{project.name}}</td>
      <td>{{project.description}}</td>
      <td>{{project.author}}</td>
      <td>{{project.startDate}}</td>
      <td>{{project.status}}</td>
      <td>{{project.endDate}}</td>
      <td><button type="button" class="btn btn-secondary" (click)="openProjectRequirements(project)">Requirements</button></td>

    </tr>
  <tbody>
</table>
<button type="button" class="btn btn-primary" (click)="getAllProjects()">Refresh</button>