<app-settings-bar></app-settings-bar>
<button type="button" class="btn btn-primary" (click)="back()">Back</button>
<h2>Requirement {{requirement.idRequirement}}</h2>
<h3>Name</h3>
<p>{{requirement.name}}</p>
<h3>Description</h3>
<p>{{requirement.description}}</p>
<h3>Author</h3>
<p>{{requirement.author}}</p>
<h3>Creation date</h3>
<p>{{requirement.creationDate}}</p>
<h3>Final cost</h3>
<p>{{requirement.finalCost}}</p>
<h2>All estimations</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Estimation id</th>
      <th scope="col">User id</th>
      <th scope="col">Requirement id</th>
      <th scope="col">Estimation</th>
    </tr>
  </thead>
  <tbody *ngIf="requirementEstimations">
    <tr *ngFor="let estiamtion of requirementEstimations">
      <td>{{estiamtion.idEstimation}}</td>
      <td>{{estiamtion.idUser}}</td>
      <td>{{estiamtion.idRequirement}}</td>
      <td>{{estiamtion.estimation}}</td>
    </tr>
  <tbody>
</table>
