<!-- <button (click)="getAllUsers()">getAllUsers</button>
<div *ngIf="allUsers">
  <h1>All users</h1>
  <p *ngFor="let user of allUsers">
    {{user.id}}
    {{user.login}}
    {{user.password}}
    {{user.role}}
  </p>
</div>

<label for="login">login</label>
<input type="text"
  name="login" [(ngModel)]="modelUser.login" />
  <br>

  <label for="password">password</label>
  <input type="text"
    name="password" [(ngModel)]="modelUser.password" />
         <br>

        <label for="role">role</label>
        <input type="text"
          name="role" [(ngModel)]="modelUser.role" />
          <br>


<button (click)="createUser()">createUser</button>
<br>
<label for="userId">userId</label>
<input type="text"
  name="userId" [(ngModel)]="userId" />
  <br>
<button (click)="getUserById(userId)">getUserById {{userId}}</button>
<div *ngIf="user">
    <h1>User {{userId}}</h1>
    <p>
      {{user.id}}
      {{user.login}}
      {{user.password}}
      {{user.role}}
    </p>
  </div>
  <br>

  <label for="idu">idu</label>
<input type="text"
  name="idu" [(ngModel)]="userToUpdate.id" />
  <br>

  <label for="loginu">loginu</label>
<input type="text"
  name="loginu" [(ngModel)]="userToUpdate.login" />
  <br>

  <label for="passwordu">passwordu</label>
  <input type="text"
    name="passwordu" [(ngModel)]="userToUpdate.password" />
        <br>

        <label for="roleu">roleu</label>
        <input type="text"
          name="roleu" [(ngModel)]="userToUpdate.role" />
          <br>
<button (click)="updateUser()">updateUser</button>
<br>
<label for="userToDelete">userToDelete</label>
<input type="text"
  name="userToDelete" [(ngModel)]="userToDelete" />
  <br>
<button (click)="deleteUser(userToDelete)">deleteUser</button> -->

<label for="login">login</label>
<input type="text"
  name="login" [(ngModel)]="model.login" required />


<label for="password">Password</label>
<input type="password"
  name="password" [(ngModel)]="model.password" required />

<button [disabled]="loading" (click)="login()" a>Login</button> 
