<app-settings-bar></app-settings-bar>
<h2>All projects</h2>
<table>
  <thead>
    <tr>
      <th>idProject</th>
      <th>name</th>      
      <th>description</th>
      <th>author</th>      
      <th>startDate</th>
      <th>status</th>
      <th>endDate</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="projects">
    <tr *ngFor="let project of projects">
      <td>{{project.idProject}}</td>
      <td>{{project.name}}</td>
      <td>{{project.description}}</td>
      <td>{{project.author}}</td>
      <td>{{project.startDate}}</td>
      <td>{{project.status}}</td>
      <td>{{project.endDate}}</td>
      <td>
        <button (click)="goToProjectDetails(project)">szczegoly</button>
      </td>



      <!-- <td><button *ngIf="!(user.idUser==signedUserId)" (click)="openUpdateUser(contentUpdate, user)">update user</button></td>
      <td><button *ngIf="!(user.idUser==signedUserId)" (click)="deleteUser(user.idUser)">delete user</button></td> -->
    </tr>
  <tbody>
</table>
<button (click)="openAddProject(contentAdd, project)">add project</button>
<button (click)="getAllProjects()">refresh</button>

 <ng-template #contentAdd let-modal>
  <app-add-project [modal]="modal"></app-add-project>
</ng-template>

<!--
<ng-template #contentUpdate let-modal>
  <app-update-user [modal]="modal" [updatedUserSend]="updatedUser"></app-update-user>
</ng-template>

<ng-template #contentGet let-modal>
  <app-update-self [modal]="modal" [updateSelfUser]="updateSelfUser"></app-update-self>
</ng-template> -->

<h2>All requirements</h2>
<table>
  <thead>
    <tr>
      <th>idRequirement</th>
      <th>name</th>
      <th>description</th>
      <th>author</th>
      <th>creationDate</th>
      <th>finalCost</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="requirements">
    <tr *ngFor="let requirement of requirements">
      <td>{{requirement.idRequirement}}</td>
      <td>{{requirement.name}}</td>
      <td>{{requirement.description}}</td>
      <td>{{requirement.author}}</td>
      <td>{{requirement.creationDate}}</td>
      <td>{{requirement.finalCost}}</td>      
      <td>
        <button (click)="goToRequirementDetails(requirement)">details</button>
      </td>
    </tr>
  <tbody>
</table>
<div style="display: flex; flex-direction: column;">
    <div>
        <canvas id="requirementsChartCanvas" width="700" height="400"></canvas>
    </div>
    <div>
        <canvas id="estimationsChartCanvas" width="700" height="400"></canvas>
    </div>    
</div>
