<app-settings-bar></app-settings-bar>
<h2>All requirements</h2>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>description</th>
      <th>author</th>
      <th>creation date</th>
      <th>final cost</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="requirements">
    <tr *ngFor="let requirement of requirements; let i = index">
      <td>{{requirement.idRequirement}}</td>
      <td>{{requirement.name}}</td>
      <td>{{requirement.description}}</td>
      <td>{{requirement.author}}</td>
      <td>{{requirement.creationDate}}</td>
      <td>{{requirement.finalCost}}</td>
      <td>
        <button type="button" class="btn btn-secondary" (click)="goToRequirementDetails(requirement)">Details</button>
      </td>
      <td>
        <div class="row">
          <div>
              <input placeholder="estimation" type="text" class="form-control" name={{i}}>
          </div>          
          <div>
            <button type="button" class="btn btn-primary btn-add-estimation" (click)="addEstimationToRequirement(requirement.idRequirement, i)">Add estimation</button>
          </div>          
        </div>
      </td>
    </tr>
  <tbody>
</table>

<ng-template #contentDetails let-modal>
  <app-requirement-details></app-requirement-details>
</ng-template>