<button (click)="getAllUsers()">getAllUsers</button>
<div *ngIf="allUsers">
  <h1>All users</h1>
  <p *ngFor="let user of allUsers">
    {{user.id}}
    {{user.login}}
    {{user.password}}
    {{user.name}}
    {{user.surname}}
    {{user.role}}
  </p>
</div>
<button (click)="createUser(userToCreate)">createUser</button>
<button (click)="getUserById(userId)">getUserById {{userId}}</button>
<div *ngIf="user">
    <h1>User {{userId}}</h1>
    <p>
      {{user.id}}
      {{user.login}}
      {{user.password}}
      {{user.name}}
      {{user.surname}}
      {{user.role}}
    </p>
  </div>
<button (click)="updateUser(userToUpdate)">updateUser</button>
<button (click)="deleteUser(6)">deleteUser</button>

<router-outlet></router-outlet>
