<p>
  project-details-more works!
</p>
<app-settings-bar></app-settings-bar>
<h2>Project {{project.idProject}}</h2>
<table>
  <thead>
    <tr>
      <th>idProject</th>
      <th>name</th>      
      <th>description</th>
      <th>author</th>      
      <th>startDate</th>
      <th>status</th>
      <th>endDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{project.idProject}}</td>
      <td>{{project.name}}</td>
      <td>{{project.description}}</td>
      <td>{{project.author}}</td>
      <td>{{project.startDate}}</td>
      <td>{{project.status}}</td>
      <td>{{project.endDate}}</td>
    </tr>
  <tbody>
</table>