<button (click)="logout()">logout</button>
<h2>All users</h2>
<table>
  <thead>
    <tr>
      <th>idUser</th>
      <th>firstName</th>
      <th>lastName</th>
      <th>username</th>
      <th>role</th>
    </tr>
  </thead>
  <tbody *ngIf="users">
    <tr *ngFor="let user of users">
      <td>{{user.idUser}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.username}}</td>
      <td>{{user.role}}</td>
      <td><button (click)="open(contentUpdate, user)">update user</button></td>
      <td><button (click)="deleteUser(user)">delete user</button></td>
    </tr>
  <tbody>
</table>


<ng-template #contentAdd let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add user</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="firstName">firstName</label>
        <input type="text" name="firstName" [(ngModel)]="newUser.firstName" />
        <br>

        <label for="lastName">lastName</label>
        <input type="text" name="lastName" [(ngModel)]="newUser.lastName" />
        <br>

        <label for="username">username</label>
        <input type="text" name="username" [(ngModel)]="newUser.username" />
        <br>

        <label for="password">password</label>
        <input type="text" name="password" [(ngModel)]="newUser.password" />
        <br>

        <label for="role">role</label>
        <input type="text" name="role" [(ngModel)]="newUser.role" />
        <br>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addUser(newUser)">Save</button>
  </div>
</ng-template>

<ng-template #contentUpdate let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update user</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="firstName2">firstName</label>
          <input type="text" name="firstName2" [(ngModel)]="updatedUser.firstName" />
          <br>
  
          <label for="lastName2">lastName</label>
          <input type="text" name="lastName2" [(ngModel)]="updatedUser.lastName" />
          <br>
  
          <label for="username2">username</label>
          <input type="text" name="username2" [(ngModel)]="updatedUser.username" />
          <br>
  
          <label for="role2">role</label>
          <input type="text" name="role2" [(ngModel)]="updatedUser.role" />
          <br>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="updateUser(updatedUser)">Save</button>
    </div>
  </ng-template>

<button (click)="open(contentAdd)">add user</button>
<br>

