<div class="wrapper">
  <app-settings-bar></app-settings-bar>
  <h2>All users</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">first name</th>
        <th scope="col">last name</th>
        <th scope="col">username</th>
        <th scope="col">role</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngIf="users">
      <tr *ngFor="let user of users">
        <td>{{user.idUser}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <td><button type="button" class="btn btn-secondary" *ngIf="!(user.idUser==signedUserId)" (click)="openUpdateUser(contentUpdate, user)">Update</button></td>
        <td><button type="button" class="btn btn-secondary" *ngIf="!(user.idUser==signedUserId)" (click)="deleteUser(user.idUser)">Delete</button></td>
      </tr>
    <tbody>
  </table>

  <button type="button" class="btn btn-primary btn-add-user" (click)="openAddUser(contentAdd)">Add user</button>
  <button type="button" class="btn btn-primary" (click)="getAllUsers()">Refresh</button>

  <ng-template #contentAdd let-modal>
    <app-add-user [modal]="modal"></app-add-user>
  </ng-template>

  <ng-template #contentUpdate let-modal>
    <app-update-user [modal]="modal" [updatedUserSend]="updatedUser"></app-update-user>
  </ng-template>
</div>