<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">My profile</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="firstNameupdateSelfUser">firstName</label>
      <input type="text" class="form-control" name="firstNameupdateSelfUser" [(ngModel)]="updateSelfUser.firstName" />
    </div>
    <div class="form-group">
      <label for="lastNameupdateSelfUser">lastName</label>
      <input type="text" class="form-control" name="lastNameupdateSelfUser" [(ngModel)]="updateSelfUser.lastName" />
    </div>
    <div class="form-group">
      <label for="usernameupdateSelfUser">username</label>
      <input type="text" class="form-control" name="usernameupdateSelfUser" [(ngModel)]="updateSelfUser.username"
        disabled />
    </div>
    <div class="form-group">
      <label for="roleupdateSelfUser">role</label>
      <input type="text" class="form-control" name="roleupdateSelfUser" [(ngModel)]="updateSelfUser.role" disabled />
    </div>

    <button (click)="openUpdateUserPassword(contentUpdatePassword, updateSelfUser.idUser)">change password</button>
    <button (click)="updateUserSelf(updateSelfUser)">Update</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Button click')">Close</button>
</div>

<ng-template #contentUpdatePassword let-modal>
  <app-update-password [idUser]="idUser" [modal]="modal"></app-update-password>
</ng-template>