<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Update password</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form>
  <div class="modal-body">
    <div class="form-group">
      <label for="oldPasswordupdateSelfUserasd">old password</label>
      <input type="password" class="form-control" name="oldPasswordupdateSelfUserasd" [(ngModel)]="updatePassword.oldPassword" />
    </div>
    <div class="form-group">
      <label for="passwordupdateSelfUserasd">password</label>
      <input type="password" class="form-control" name="passwordupdateSelfUserasd" [(ngModel)]="updatePassword.password" />
    </div>
  </div>
</form>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="updateUserPassword()">Update</button>
</div>