/* You can add global styles to this file, and also import other style files */

body {
    padding: 20px;
}

app-settings-bar {
    padding-bottom:30px;
    display: block;
}

th {
    padding: 0 20px 0 20px;
}

td {
    padding: 0 20px 0 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.row button {
    display: block;
}

.row input {
    width:100px;
}